networks:
  laravel:

volumes:
  linkmarks-data:

services:
  app:
    build:
      context: ./dockerfiles
      dockerfile: nginx.dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html:delegated
    depends_on:
      - php
      - postgres
      - mailhog
    networks:
      - laravel

#  mysql:
#    image: mariadb:10.6
#    restart: unless-stopped
#    tty: true
#    ports:
#      - "3306:3306"
#    environment:
#      MYSQL_DATABASE: homestead
#      MYSQL_USER: homestead
#      MYSQL_PASSWORD: secret
#      MYSQL_ROOT_PASSWORD: secret
#      SERVICE_TAGS: dev
#      SERVICE_NAME: mysql
#    networks:
#      - laravel

  postgres:
    image: postgres:17.2
    restart: unless-stopped
    tty: true
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: "homestead"
      POSTGRES_USER: "homestead"
      POSTGRES_PASSWORD: "secret"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    networks:
      - laravel
    volumes:
      - linkmarks-data:/var/lib/postgresql/data

  php:
    build:
      context: ./dockerfiles
      dockerfile: php.dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    ports:
      - "9000:9000"
    volumes:
      - ./src:/var/www/html:delegated
    networks:
      - laravel
      
  # typesense:
  #   image: typesense/typesense:28.0
  #   restart: on-failure
  #   ports:
  #     - 8108:8108
  #   volumes:
  #     - ./typesense-data:/data
  #   command: '--data-dir /data --api-key=xyz --enable-cors'

      
#  redis:
#    image: redis:alpine
#    restart: unless-stopped
#    ports:
#      - "6379:6379"
#    networks:
#      - laravel

  composer:
    build:
      context: ./dockerfiles
      dockerfile: php.dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    volumes:
      - ./src:/var/www/html
    depends_on:
      - php
    entrypoint: [ 'composer', '--ignore-platform-reqs' ]
    networks:
      - laravel

  npm:
    image: node:latest
    volumes:
      - ./src:/var/www/html
    ports:
      - "3000:3000"
      - "3001:3001"
      - "5173:5173"
    working_dir: /var/www/html
    entrypoint: [ 'npm' ]
    networks:
      - laravel

  artisan:
    build:
      context: ./dockerfiles
      dockerfile: php.dockerfile
      args:
        - UID=${UID:-1000}
        - GID=${GID:-1000}
    volumes:
      - ./src:/var/www/html:delegated
    depends_on:
      - postgres
    entrypoint: [ 'php', '/var/www/html/artisan' ]
    networks:
      - laravel

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - laravel
