@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --breakpoint-3xl: 112rem;
    --breakpoint-4xl: 124rem;
    --breakpoint-5xl: 160rem;
    --breakpoint-6xl: 224rem;
}

@plugin "daisyui" {
    themes: dark --default;
}

html {
    background-color: oklch(27.8% 0.033 256.848);
    scrollbar-gutter: stable;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
