includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/nesbot/carbon/extension.neon

parameters:
  paths:
    - app/
  # level 10 - max
  level: 5
  ignoreErrors:
    - '#Call to an undefined method [a-zA-Z0-9\\_]+::filter\(\)#'

  excludePaths:
    - ./app/Orchid/Layouts/Role/RoleListLayout.php
    - ./app/Orchid/Layouts/User/UserListLayout.php
    - ./app/Orchid/Screens/User/UserProfileScreen.php
